@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    background-color: #251827;
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
}

.rotate-board {
    transform: rotate(180deg);
  }
  
.field {
    width: 6rem;
    height: 6rem;
}

@media only screen and (max-width: 600px) {
    .field {
        width: 2.5rem;
        height: 2.5rem;
    }
}


