@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    background-color: #251827;
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
}

.rotate-board {
    transform: rotate(180deg);
    direction: rtl; /* Diese Zeile ändert die Richtung der Schachfelder für den Fall, dass sie um 180 Grad gedreht sind */
  }
  
.field {
    width: 6rem;
    height: 6rem;
    position: relative;
}

.valid-move::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,255,0,.5);
}

.invalid-move::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,0,0,.5);
}

@media only screen and (max-width: 600px) {
    .field {
        width: 2.5rem;
        height: 2.5rem;
    }
}


